/* ===========================================
   47都道府県クイズ CSS
   class="areaSize"の要素に対して適用
   =========================================== */
.areaSize{
	font-size: 0.7em; 
	color: maroon;
	text-align: right;
}
